<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./static/styles/styles.css">
  <link rel="stylesheet" href="./static/styles/general.css">
  <title>Typestory</title>
</head>
<body>
  
  <!-- Site Header -->
  <header class="site-header">
    <nav class="sitenav">
      <div class="container sitenav__container">
        <a class="logo" href="/">
          <img class="logo__img" src="./static/images/typestory_logo.svg" alt="Typestory Logo" width="104" height="24">
        </a>
        
        <ul class="sitenav__list">
          <li class="sitenav__item">
            <a class="sitenav__link" href="/">Home</a>
          </li>
          
          <li class="sitenav__item">
            <a class="sitenav__link" href="/articles">Articles</a>
          </li>
        </ul>
        
        <a class="sitenav__button" href="/create">Write a story</a>
      </div>
    </nav>
  </header>
  
  <!-- Main Content -->
  <main class="main-content">
    
    <!-- Articles Section -->
    <section class="articles">
      <div class="container articles__container">
        <h1 class="articles__heading">All stories</h1>
        
        <ul class="articles__list">

          <% for(let article of articles){ %>

          <li class="articles__item">
            <a class="articles__link" href="">
              <h2 class="articles__title"><%=article.title %></h2>
              
              <div class="articles__wrapper">
                <p class="articles__date"><%=article.date %></p>
                <p class="articles__author"><%=article.author %></p>
              </div>
            </a>

            <a class="articles__delete" href="#">Delete</a>
          </li>
          
          <% } %>
        </ul>
      </div>
    </section>
    
  </main>
  
  <!-- Footer -->
  <footer class="site-footer">
    <div class="container site-footer__container">
      <p class="site-footer__text">“This web application was created to fulfill <b>Web Technology</b> module’s requirements and does not represent an actual company or service”.</p>
    </div>
  </footer>
  
  
  
</body>
</html>