<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./static/styles/styles.css">
  <link rel="stylesheet" href="./static/styles/general.css">
  <title>Typestory</title>
</head>
<body>
  
  <!-- Site Header -->
  <header class="site-header">
    <nav class="sitenav">
      <div class="container sitenav__container">
        <a class="logo" href="/">
          <img class="logo__img" src="./static/images/typestory_logo.svg" alt="Typestory Logo" width="104" height="24">
        </a>
        
        <ul class="sitenav__list">
          <li class="sitenav__item">
            <a class="sitenav__link" href="/">Home</a>
          </li>
          
          <li class="sitenav__item">
            <a class="sitenav__link" href="/articles">Articles</a>
          </li>
        </ul>
        
        <a class="sitenav__button" href="/create">Write a story</a>
      </div>
    </nav>
  </header>
  
  <!-- Main Content -->
  <main class="main-content">
    
    <!-- Hero Section -->
    <section class="hero">
      <div class="container hero__container">
        <h1 class="hero__heading">Every coder has their journey, share yours!</h1>
        <p class="hero__text">Make coffee and read articles</p>
        
        <ul class="hero__list">
          <li class="hero__item">
            <p class="hero__tags hero__tags--blue">#webdev</p>
          </li>
          
          <li class="hero__item">
            <p class="hero__tags hero__tags--orange">#javascript</p>
          </li>
          
          <li class="hero__item">
            <p class="hero__tags hero__tags--green">#opensource</p>
          </li>
          
          <li class="hero__item">
            <p class="hero__tags hero__tags--black">#roadmap</p>
          </li>
        </ul>
      </div>
    </section>
    
    <section class="posts">
      <div class="container posts__container">
        <h2 class="visually-hidden">Posts Section</h2>
        
        <ul class="posts__list">
          <li class="posts__item">
            <img class="posts__img" src="./static/images/post.png" alt="Posts Photo" width="297" height="179">
            
            <div class="posts__body">
              <a class="posts__link posts__heading" href="">long established</a>
              <p class="posts__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
              
              <div class="posts__footer">
                <p class="posts__author">Jakhongir Sagdullaev</p>
                <a class="posts__read-more" href="">Read more</a>
              </div>
            </div>
            
          </li>

          <li class="posts__item">
            <img class="posts__img" src="./static/images/post.png" alt="Posts Photo" width="297" height="179">
            
            <div class="posts__body">
              <a class="posts__link posts__heading" href="">long established</a>
              <p class="posts__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
              
              <div class="posts__footer">
                <p class="posts__author">Jakhongir Sagdullaev</p>
                <a class="posts__read-more" href="">Read more</a>
              </div>
            </div>
            
          </li>

          <li class="posts__item">
            <img class="posts__img" src="./static/images/post.png" alt="Posts Photo" width="297" height="179">
            
            <div class="posts__body">
              <a class="posts__link posts__heading" href="">long established</a>
              <p class="posts__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
              
              <div class="posts__footer">
                <p class="posts__author">Jakhongir Sagdullaev</p>
                <a class="posts__read-more" href="">Read more</a>
              </div>
            </div>
            
          </li>

          <li class="posts__item">
            <img class="posts__img" src="./static/images/post.png" alt="Posts Photo" width="297" height="179">
            
            <div class="posts__body">
              <a class="posts__link posts__heading" href="">long established</a>
              <p class="posts__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
              
              <div class="posts__footer">
                <p class="posts__author">Jakhongir Sagdullaev</p>
                <a class="posts__read-more" href="">Read more</a>
              </div>
            </div>
            
          </li>

          <li class="posts__item">
            <img class="posts__img" src="./static/images/post.png" alt="Posts Photo" width="297" height="179">
            
            <div class="posts__body">
              <a class="posts__link posts__heading" href="">long established</a>
              <p class="posts__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
              
              <div class="posts__footer">
                <p class="posts__author">Jakhongir Sagdullaev</p>
                <a class="posts__read-more" href="">Read more</a>
              </div>
            </div>
            
          </li>
        </ul>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="site-footer">
    <div class="container site-footer__container">
      <p class="site-footer__text">“This web application was created to fulfill <b>Web Technology</b> module’s requirements and does not represent an actual company or service”.</p>
    </div>
  </footer>
  
</body>
</html>